<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="safeNools">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>SAFE Decision support with Nools</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-controller="mainController">
    <div class="container">

        <!-- HEADER AND TODO COUNT -->
        <div class="jumbotron text-center">
            <h1>SAFE Nools <span class="label label-info">{{ todos.length }}</span></h1>
        </div>

        <!-- FORM TO CREATE TODOS -->
        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg text-center" placeholder="Patient name" ng-model="formData.patient.name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg text-center" placeholder="Patient age" ng-model="formData.patient.age">
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="male" value="male" ng-model="formData.patient.sex"> Male
                        </label>
                        <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="female" value="female" ng-model="formData.patient.sex"> Female
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="runRules()">What is wrong with me?</button>
                </form>
                
            </div>
        </div>

        <!-- TODO LIST -->
        <div id="todo-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <!-- LOOP OVER THE TODOS IN $scope.todos -->
                <div ng-repeat="question in questions">
                    <div class="form-group">
                        <label class="sr-only">{{ question.text }}</label>
                        <input type="text" class="form-control input-lg text-center" placeholder="{{question.text}}" ng-model="formData.symptom">
                    </div>
                    
                </div>

            </div>
        </div>
        
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="js/core.js"></script>    

</body>
</html>